    // Main Color

    $color-primary:#131315;
    $color-secondry:#f7cc00;
    $color-tertiary:#a0611d;

    // Other Color
    $color-bg:#28282d;
    $color-white:#fff;
    $color-white-light: rgba(255,255,255,0.911);
    $color-gray:#bdbdbd;
    $color-gray-dark:#3a3b40;

    // font-size
    $font-size-default:1.6rem;
    $font-size-Sm:1.2rem;
    $font-size-Md:1.8rem;
    $font-size-Lg:2.2rem;
    